force-app/main/default/flows/Screen_Convert_Enquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_To_purchased_Property_Record</name>
        <label>Redirect To purchased Property Record</label>
        <locationX>182</locationX>
        <locationY>3086</locationY>
        <actionName>c:FlowRedirectToCreatedContact</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>varPurchasedPropertyId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Owner_Transaction</name>
        <label>Assign Owner Transaction</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>Owner_Transaction_Record.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Assign_Commission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Transaction_Record.Staff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Owner_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Transaction_Record.Purchased_Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPurchasedPropertyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Transaction_Record.Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unpaid</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Transaction_Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commission</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Primary_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Transaction</name>
        <label>Assign Primary Transaction</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>Primary_Transaction_Record.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Assign_Commission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Primary_Transaction_Record.Staff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Assigned_To.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Primary_Transaction_Record.Purchased_Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPurchasedPropertyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Primary_Transaction_Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commission</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Primary_Transaction_Record.Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unpaid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Secondary_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Secondary_Transaction</name>
        <label>Assign Secondary Transaction</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>Secondary_Transaction_Record.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secondary_Assign_Commission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Secondary_Transaction_Record.Staff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secondary_Assigned_To.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Secondary_Transaction_Record.Purchased_Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPurchasedPropertyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Secondary_Transaction_Record.Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unpaid</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Secondary_Transaction_Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commission</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Owner_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_AccountId_variable</name>
        <label>Fill AccountId variable</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Account_If_Any.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Contact_If_Any</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_ContactId_variable</name>
        <label>Fill ContactId variable</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Contact_If_Any.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Id_in_Enquiry</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Account_Exists</name>
        <label>Check If Account Exists</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Create_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Account_If_Any.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_AccountId_variable</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Contact_Exists</name>
        <label>Check If Contact Exists</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Contact_If_Any.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_ContactId_variable</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_Property_Available</name>
        <label>Check Is Property Available</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Property_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enquiry_Record_Details.Property__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Account_If_Any</targetReference>
            </connector>
            <label>is Property Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Secondary_Assign_To</name>
        <label>Check Secondary Assign To</label>
        <locationX>182</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Create_Owner_Transaction2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Assigned_To.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Secondary_Transaction</targetReference>
            </connector>
            <label>Is Available</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>First_Party_Source</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>First_Party_Source__c</picklistField>
        <picklistObject>Enquiry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Second_Party_Source</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Second_Party_Source__c</picklistField>
        <picklistObject>Enquiry__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FName</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Enquiry_Record_Details.Last_Name_Formula__c} == null, &apos;&apos;, {!Get_Enquiry_Record_Details.First_Name_Formula__c} )</expression>
    </formulas>
    <formulas>
        <name>LName</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Enquiry_Record_Details.Last_Name_Formula__c} == null, {!Get_Enquiry_Record_Details.First_Name_Formula__c}, {!Get_Enquiry_Record_Details.Last_Name_Formula__c})</expression>
    </formulas>
    <formulas>
        <name>Owner_Assign_Commission</name>
        <dataType>Currency</dataType>
        <expression>{!Enter_Gross_Commission} - ({!Primary_Assign_Commission} + {!Secondary_Assign_Commission})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Primary_Assign_Commission</name>
        <dataType>Currency</dataType>
        <expression>({!Enter_Gross_Commission} * {!Primary_Assign_Commision1})/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Secondary_Assign_Commission</name>
        <dataType>Currency</dataType>
        <expression>({!Enter_Gross_Commission} * {!Secondary_Assign_Commision1})/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totalAmountPaidByCustomer</name>
        <dataType>Currency</dataType>
        <expression>0</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!Get_Enquiry_Record_Details.Company__c})),
{!Get_Enquiry_Record_Details.Company__c},
{!varLeadFullName}
)</expression>
    </formulas>
    <formulas>
        <name>varLeadFullName</name>
        <dataType>String</dataType>
        <expression>{!Get_Enquiry_Record_Details.First_Name__c} + &quot; &quot; + {!Get_Enquiry_Record_Details.Last_Name__c}</expression>
    </formulas>
    <interviewLabel>Screen - Convert Enquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Convert Enquiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Record</name>
        <label>Create Account Record</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>varAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Existing_Contact_If_Any</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Enquiry_Record_Details.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Enquiry_Record_Details.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Record</name>
        <label>Create Contact Record</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <assignRecordIdToReference>varContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_Id_in_Enquiry</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Enquiry_Record_Details.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Enquiry_Record_Details.Enquiry_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Get_Enquiry_Record_Details.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Owner_Transaction</name>
        <label>Create Owner Transaction</label>
        <locationX>50</locationX>
        <locationY>2870</locationY>
        <connector>
            <targetReference>Redirect_To_purchased_Property_Record</targetReference>
        </connector>
        <inputReference>Owner_Transaction_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Owner_Transaction2</name>
        <label>Create Owner Transaction</label>
        <locationX>314</locationX>
        <locationY>2750</locationY>
        <connector>
            <targetReference>Redirect_To_purchased_Property_Record</targetReference>
        </connector>
        <inputReference>Owner_Transaction_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Primary_Transaction</name>
        <label>Create Primary Transaction</label>
        <locationX>182</locationX>
        <locationY>2510</locationY>
        <connector>
            <targetReference>Check_Secondary_Assign_To</targetReference>
        </connector>
        <inputReference>Primary_Transaction_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Purchased_Proprerty_Record</name>
        <label>Create Purchased Proprerty Record</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <assignRecordIdToReference>varPurchasedPropertyId</assignRecordIdToReference>
        <connector>
            <targetReference>Mark_Property_As_Sold</targetReference>
        </connector>
        <inputAssignments>
            <field>Buyer__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gross_Commission__c</field>
            <value>
                <elementReference>Enter_Gross_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Enquiry_Record_Details.Property__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Assign_Commision__c</field>
            <value>
                <elementReference>Primary_Assign_Commision1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Assigned_To__c</field>
            <value>
                <elementReference>Primary_Assigned_To.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>Property.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Assign_Commision__c</field>
            <value>
                <elementReference>Secondary_Assign_Commision1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Assigned_To__c</field>
            <value>
                <elementReference>Secondary_Assigned_To.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seller_Name__c</field>
            <value>
                <elementReference>Get_Property_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <object>Purchased_Property__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Secondary_Transaction</name>
        <label>Create Secondary Transaction</label>
        <locationX>50</locationX>
        <locationY>2750</locationY>
        <connector>
            <targetReference>Create_Owner_Transaction</targetReference>
        </connector>
        <inputReference>Secondary_Transaction_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Enquiry_Record_Details</name>
        <label>Get Enquiry Record Details</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Is_Property_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Account_If_Any</name>
        <label>Get Existing Account If Any</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record_Details.Company__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Contact_If_Any</name>
        <label>Get Existing Contact If Any</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Contact_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record_Details.MobilePhone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record_Details.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Contact</name>
        <label>Get Owner Contact</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Primary_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ramesh</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tehlani</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Property_Owner</name>
        <label>Get Property Owner</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Property_Commission_Payment_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record_Details.Property__r.Property_Owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Property_As_Sold</name>
        <label>Mark Property As Sold</label>
        <locationX>182</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Get_Owner_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record_Details.Property__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </inputAssignments>
        <object>Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Id_in_Enquiry</name>
        <label>Update Contact Id in Enquiry</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>Get_Property_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Enquiry__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enquiry_Status</name>
        <label>Update Enquiry Status</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Create_Purchased_Proprerty_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Enquiry_Status__c</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Party_Source_Name__c</field>
            <value>
                <elementReference>First_Party_Source_Name.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Party_Source__c</field>
            <value>
                <elementReference>First_Party_Source1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Assigned_To__c</field>
            <value>
                <elementReference>Primary_Assigned_To.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Second_Party_Source_Name__c</field>
            <value>
                <elementReference>Second_Party_SourceName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Second_Party_Source__c</field>
            <value>
                <elementReference>Second_Party_Source1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Assign_To__c</field>
            <value>
                <elementReference>Secondary_Assigned_To.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Enquiry__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px; color: rgb(247, 45, 14);&quot;&gt;Please Select the Property.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Property_Commission_Payment_Details</name>
        <label>Property, Commission &amp; Payment Details</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Enquiry_Status</targetReference>
        </connector>
        <fields>
            <name>Property_Details</name>
            <fieldText>Property Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Property_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Property</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Property__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Property</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Enquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Enquiry_Record_Details.Property__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Property_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deal_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Enquiry_Record_Details.Property__r.Amount_Calculation__c</elementReference>
                    </defaultValue>
                    <fieldText>Deal Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Other_Details</name>
            <fieldText>Other Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Buyer_Name</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Buyer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Enquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varContactId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>First_Party_Source1</name>
                    <choiceReferences>First_Party_Source</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Enquiry_Record_Details.First_Party_Source__c</elementReference>
                    </defaultValue>
                    <fieldText>First Party Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Second_Party_Source1</name>
                    <choiceReferences>Second_Party_Source</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Enquiry_Record_Details.Second_Party_Source__c</elementReference>
                    </defaultValue>
                    <fieldText>Second Party Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Other_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Seller_Name</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Seller Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Property__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Property_Owner__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Property_Owner.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>First_Party_Source_Name</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>First_Party_Source_Name__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Enquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>First Party Source Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Enquiry_Record_Details.First_Party_Source_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Second_Party_SourceName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Enquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Second_Party_Source_Name__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Second Party Source Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <elementReference>totalAmountPaidByCustomer</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Enquiry_Record_Details.Second_Party_Source_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Commission_Details</name>
            <fieldText>Commission Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commission_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Enter_Gross_Commission</name>
                    <dataType>Currency</dataType>
                    <fieldText>Enter Gross Commission Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Primary_Assigned_To</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Primary Assigned To</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Enquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Primary_Assigned_To__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Enquiry_Record_Details.Primary_Assigned_To__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Secondary_Assigned_To</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Secondary Assigned To</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Enquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Secondary_Assign_To__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Enquiry_Record_Details.Secondary_Assign_To__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Commission_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Primary_Assign_Commision1</name>
                    <dataType>Number</dataType>
                    <fieldText>Primary Assign Commision(%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Secondary_Assign_Commision1</name>
                    <dataType>Number</dataType>
                    <fieldText>Secondary Assign Commision(%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Enquiry_Record_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Owner_Transaction_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>Primary_Transaction_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Secondary_Transaction_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPurchasedPropertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
