force-app/main/default/flows/Screen_Create_Payment_Transaction_On_Purchased_Property.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>typeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>totalCommRecvd</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Purchsed_Property_Record.Total_Commission_Received__c} + {!Commission_Received}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>transactionName</name>
        <dataType>String</dataType>
        <expression>{!Get_Purchsed_Property_Record.Buyer__r.FirstName} + &quot; &quot; + {!Get_Purchsed_Property_Record.Buyer__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>varContactId</name>
        <dataType>String</dataType>
        <expression>{!Get_Purchsed_Property_Record.Buyer__c}</expression>
    </formulas>
    <formulas>
        <name>varTotalAmtPaidByCustomer</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Contact_Record.Total_Amount_Paid__c} + {!Amount_Received}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Screen - Create Payment Transaction On Purchased Property {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Create Payment Transaction On Purchased Property</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Transaction_Record</name>
        <label>Create Transaction Record</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Update_Total_Commission_On_Purchased_Property_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Purchsed_Property_Record.Buyer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>transactionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Details__c</field>
            <value>
                <elementReference>Payment_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchased_Property__c</field>
            <value>
                <elementReference>Get_Purchsed_Property_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Income_Record_Type_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Staff__c</field>
            <value>
                <elementReference>Get_Purchsed_Property_Record.Primary_Assigned_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Partial Payment</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Total_Amt_Paid_By_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Income_Record_Type_Record</name>
        <label>Get Income Record Type Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Purchsed_Property_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Income</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchsed_Property_Record</name>
        <label>Get Purchsed Property Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Transaction_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Purchased_Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Total_Amt_Paid_By_Customer</name>
        <label>Update Total Amt Paid By Customer</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Amount_Paid__c</field>
            <value>
                <elementReference>varTotalAmtPaidByCustomer</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_Commission_On_Purchased_Property_Record</name>
        <label>Update Total Commission On Purchased Property Record</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Purchsed_Property_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Commission_Received__c</field>
            <value>
                <elementReference>totalCommRecvd</elementReference>
            </value>
        </inputAssignments>
        <object>Purchased_Property__c</object>
    </recordUpdates>
    <screens>
        <name>Please_Enter_Payment_Details</name>
        <label>Please Enter Payment Details</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Income_Record_Type_Record</targetReference>
        </connector>
        <fields>
            <name>Please_Enter_Payment_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Please_Enter_Payment_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount_Received</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount Received</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Please_Enter_Payment_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Commission_Received</name>
                    <dataType>Currency</dataType>
                    <fieldText>Commission Received</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Please_Enter_Payment_Details_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Details</name>
                    <dataType>String</dataType>
                    <fieldText>Payment Details</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Please_Enter_Payment_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
