force-app/main/default/flows/Transaction_Create_Property_Payment_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Is_Update_Or_Insert</name>
        <label>Is Update Or Insert</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_Purchased_Property_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Insert</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Purchased_Property_Record</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varTotalAmtPaidByCustomerOnInsert</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount__c} + {!Get_Contact_Record.Total_Amount_Paid__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varTotalAmtPaidByCustomerOnUpdate</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount__c} + {!Get_Contact_Record.Total_Amount_Paid__c} - {!$Record__Prior.Amount__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varTotalPaymentOnInsert</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount__c} + {!Get_Purchased_Property_Record.Total_Payment_Received__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varTotalPaymentOnUpdate</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount__c} + {!Get_Purchased_Property_Record.Total_Payment_Received__c} - {!$Record__Prior.Amount__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Transaction - Create Property Payment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction - Create Property Payment Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Update_Or_Insert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchased_Property_Record</name>
        <label>Get Purchased Property Record</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Purchased_Property__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Purchased_Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Purchased_Property_Record</name>
        <label>Update Purchased Property Record</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Total_Amt_Paid_By_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Purchased_Property__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Partially Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Payment_Received__c</field>
            <value>
                <elementReference>varTotalPaymentOnUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Purchased_Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Purchased_Property_Record_0</name>
        <label>Update Purchased Property Record</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Purchased_Property__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Payment_Received__c</field>
            <value>
                <elementReference>varTotalPaymentOnInsert</elementReference>
            </value>
        </inputAssignments>
        <object>Purchased_Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_Amt_Paid_By_Customer</name>
        <label>Update Total Amt Paid By Customer</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Amount_Paid__c</field>
            <value>
                <elementReference>varTotalAmtPaidByCustomerOnUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Purchased_Property_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchased_Property__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
